@model IEnumerable<Pokemon>

@{
    ViewBag.Title = "Главная страница";
}

<div class="jumbotron">
    <h1>Сайт о покемонах</h1>
    <p class="lead">Сайт выполнялся в рамках тестового задания!</p>
    <p></p>
</div>


